*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
}
h3{
    text-align: center;
    padding: 10px;
    font-size: 35px;
}
p{
    margin: auto;
    font-size: 25px;
    font-style: italic;
    width: 70vw;
}
.main{
    width: 60vw;
    height: 100vh;
    margin: auto;
    padding-top: 2vw;
    justify-content: center;

}
label{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;

}
input{
    width: 50vw;
    height: 5vh;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
    
}
textarea{
    width: 50vw;
    height: 20vh;
    font-size: 20px;
    resize: vertical;
    padding: 15px;
    border-radius: 5px;
}
button{
    width: 20vw;
    height: 7vh;
    border-radius: 5px;
    background-color: cadetblue;
    font-size: 25px;
    text-align: center;
    margin-left: 15vw;
    margin-top: 1vw;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}